@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  .app-body {
    display: flex;
    background-color: #ededed;
    margin-bottom: 50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  }
}

.Sidebar__ {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  .sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
  }
  .sidebar__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 10vw;
    .MuiSvgIcon-root {
      font-size: 25px;
    }
  }
}

.Chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background: #fff;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
  }
  input {
    border: none;
    outline-width: 0;
    margin-left: 5px;
    width: 100%;
  }
}

.sidebar__chats {
  flex: 1;
  background-color: #fff;
  overflow: scroll;
  .sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
  }
}

.sidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat__Info {
  h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.sidebarChat__Info {
  margin-left: 15px;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  .chat__headerInfo {
    flex: 1;
    padding-left: 20px;
    p {
      padding-top: 3px;
      color: gray;
    }
  }
}
.chat__body {
  flex: 1;
  background-image: url("./whatsapp-image.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  overflow: scroll;
  .Chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 40px;
    .chat__timestamp {
      margin-left: 10px;
      font-size: xx-small;
    }
    .chat__name {
      position: absolute;
      top: -15px;
      font-weight: bold;
      font-size: xx-small;
    }
  }
  .Chat__reciever {
    margin-left: auto;
    background: #dcf8c6;
  }
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  form {
    flex: 1;
    display: flex;
    input {
      flex: 1;
      border-radius: 30px;
      padding: 10px;
      border: none;
      outline-width: 0;
    }
    button {
      display: none;
    }
  }
  .MuiSvgIcon-root {
    color: gray;
  }
}
